* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: teal;
  font-family: 'Raleway', sans-serif;
}
.container {
  min-height: 50vh;
  width: 50vw;
  margin: auto;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  background-color: #eee;
  box-shadow: 1px 2px 6px 2px rgba(255, 255, 255, 0.911);
}
h1 {
  color: #333;
}
form {
  padding: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 3px;
}
input[type="text"] {
  background-color: transparent;
  outline: 0;
  font-size: 1.2em;
  border: 0;
  color: teal;
  border-bottom: 2px solid #ccc;
}
.new-task-span {
  height: 2px;
  width: 0;
  margin-bottom: 1em;
  transition: all .5s;
}
input[type="text"]:focus {
  border-bottom: 0;
}
input[type="text"]:focus + .new-task-span {
  width: 100%;
  background: teal;
}
.submit-input {
  align-self: flex-start;
  font-size: 1.1em;
  color: #eee;
  background: teal;
  padding: 8px 10px;
  border-radius: 2px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: all .2s ease-out;
}
.submit-input:hover {
  background: rgb(32, 133, 133);
  box-shadow: 0 2px 6px rgb(32, 133, 133);
}

.submit-input:active,
.submit-input:focus {
  outline: 0;
  border: 0;
}
.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2em;
  padding-top: 0;
}
.line {
  background: #444;
  flex: 1 100%;
  height: 3px;
}
.card h2 {
  color: #333;
}
.clear-tasks {
  color: #fff;
  font-size: 1.1em;
  background: tomato;
  padding: 8px 12px;
  border-radius: 2px;
  cursor: pointer;
  transition: all .2s ease-out;
}
.clear-tasks:hover {
  box-shadow: 0 2px 6px tomato; 
}